.carwash-list-page {
	.grid_10 {
		padding-left: 60px;
		
		.extra_wrapper a.btn {
			margin-top: 0px;
			font-size: 13px;
		}
	}
}

.carservice-list-page {
	.grid_10 {
		padding-left: 60px;
	}
	
	.serv a.btn {
		margin-top: 0px;
		font-size: 13px;
	}
	
	.title a {
		font-size: 20px;
		color: #5a5a5a;
	}
	
	.grid_11 .grid_5:nth-child(even) {
		margin-left: 0px;
	}
}

.news-page {
	h2 {
		margin-bottom: 7px;
	}
	
	.text2 {
		font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
}

.content-text {
	div,
	p,
	span {
		margin-bottom: 16px;
	}
	
	h3, h4, h5, h6 {
		margin-bottom: 7px;
    	font-size: 18px;
    	line-height: 28px;
	}
	
	a {
		color: #64c29e;
	    text-decoration: underline;

	    &:hover {
	        color: #838383;
	    }
	}
	
	img {
		display: block;
		margin: 0 auto;
	}
}

.contacts-page {
	.grid_5 {
		width: 940px;
		
		address {
			width: 940px;
			display: inline-block;
			    
			div {
				margin-right: 20px;
				width: 300px;
				float: left;
				
				&:last-of-type {
					margin-right: 0px;
				}
			}
		}
		
		.map figure {
			margin-bottom: 0px;
		}
	}
}

#map {
	width: 940px;
	height: 450px;
}

.container_16 .prefix_1 {
    padding-left: 0px;
}