/****Form****/

#form {
	padding-top: 7px;

}

#form input {
 	padding: 10px 8px 11px;
  	background: #fff;
  	border: 1px solid #d5d8d6;
	width: 100%;
	height: 41px;
	float:left;
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #979797;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
  	border: 1px solid #d5d8d6;
 	padding: 15px 8px 11px;
	width: 100%;
	height: 241px;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #979797;
	margin: 0;
	
}
#form label {
	position:relative;
	display: block;
	min-height: 61px;
	width: 221px;
	clear: left;
	float: left;
}


.phone {
	margin-top: -1px;
	margin-bottom: 1px;
}

#form .error, #form .empty {
	color: #E02A05;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	bottom: 2px;
	float:left;
}


#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	padding-top: 24px;
	text-align: left;
}

.message .empty, .message .empty{
	bottom: -16px !important;
}




.content .btns a.btn {
	margin: 0 20px 0 0 !important;
	cursor: pointer;
	text-align: center;
}

.content .none {
	width: 20px;
	display: inline-block;
}

.phone {
	position: relative;
	top: 1px;
}



#form .message {
	width: 100%;
	position: relative;
}



.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	display: none;
	position: absolute;
  	border: 1px solid #d5d8d6;
	background: #fff;
	width: 221px;
	text-align: center;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}


.success_wrapper {
	position: relative;	
}

@media only screen and (max-width: 995px) {

#form {
	padding-top: 0;	
}


#form label {
	float: none !important;	
	width: 100%;
}

#form input {
	margin-bottom: 10px;
}

#form label.message {
	width: 100% !important;
}

#form .success {
	width: 100%;
}

.btns {
	padding-right: 0;
}

#form label.email {
	width: 100%;
	margin: 0;
}

.map figure {
	width: 450px !important;
	float: left !important;
	margin-right: 20px !important;
}

}

@media only screen and (max-width: 767px) {
  .map {
	margin-bottom: 25px;
}

.map figure {
	width: 100% !important;
	float: none !important;
	margin-right: 0px !important;
}
  .btns {
		padding-bottom: 0;  
  }
  
  #form textarea {
		height: 300px !important; 
  }

   #form {
 	padding-right: 0;
 }
  
}
@media only screen and (max-width: 479px) {

  #form textarea {
		height: 200px !important;  
  }
}